[Unit]
Description=PhaService StdWebServer
After=network.target syslog.target

[Service]
Type=forking
PIDFile=/iws/iProjects/PhaService/var/pid/std_web_server.pid
ExecStart=/iws/iProjects/PhaService/serve start
ExecStop=/iws/iProjects/PhaService/serve stop
ExecReload=/iws/iProjects/PhaService/serve reload
Restart=always

[Install]
WantedBy=multi-user.target